:root {
  background-color: #000;
  --color-text: #fff;
}

text {
  color: var(--color-text);
}

.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Title {
  font-size: 32px;
  font-weight: 700;
}
